@function px-to-rem($px) {
    @return $px / 16 * 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2em;
}

h1 {
    font-size: px-to-rem(48);
}

h1 {
    font-size: px-to-rem(38);
}

h3 {
    font-size: px-to-rem(20);
    font-weight: bold;
}

h5 {
    font-size: px-to-rem(16);
}

h6 {
    font-size: px-to-rem(14);
}