:root {
    // Colors
    --primary-900: #041b2f;
    --primary-800: #123654;
    --primary-700: #294f70;
    --primary-600: #446988;
    --primary-500: #60829f;
    --primary-400: #799bb9;
    --primary-300: #92b5d3;
    --primary-200: #acceec;
    --primary-100: #cfe7fc;

    // Shadows
    --depth-1: 0px 0.3px 0.9px rgba(0, 0, 0, 0.108), 0px 1.6px 3.6px rgba(0, 0, 0, 0.132);
    --depth-2: 0px 0.6px 1.8px rgba(0, 0, 0, 0.108), 0px 3.2px 7.2px rgba(0, 0, 0, 0.132);
    --depth-3: 0px 1.2px 3.6px rgba(0, 0, 0, 0.108), 0px 6.4px 14.4px rgba(0, 0, 0, 0.132);
    --depth-4: 0px 4.8px 14.4px rgba(0, 0, 0, 0.18), 0px 25.6px 57.6px rgba(0, 0, 0, 0.22);
}