/*
You do not need to worry about .error {} colliding with any other `.scss` or
`.module.scss` files!
*/

.button {
  padding: 0 1.5rem;
  height: 3rem;
  background-color: var(--primary-600);
  font-size: 1rem;
  border-radius: 4px;
  color: white;
  outline: 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

.error {
  background-color: var(--error-700);
}